.filter {
    display: block;
    margin: 50px auto 0 auto;
    position: relative;
    width: 450px;
    height: 30px;
    color: black;
}

.filter .filter__dropdown {
    box-shadow: 2px 3px 10px rgba(0, 0, 0, .4);
    position: absolute;
    background-color: #f6f6f6;
    width: 450px;
    height: 30px;
    border: 1px solid #ddd;
    z-index: 1;
}

.filter .filter__dropdown .filter__dropdown-item {
    box-shadow: 2px 3px 10px rgba(0, 0, 0, .4);
}

.filter .filter__dropdown .filter__dropdown-item li {

    color: black;
    padding: 6px 20px;
    text-decoration: none;
    display: none;
    background-color: #f6f6f6;
    min-width: 230px;
    height: 30px;
    z-index: 2;
    cursor: pointer;
}

.filter .filter__dropdown .filter__dropdown-item a:hover {
    background-color: #ddd;
}

.filter label {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.filter .filter__dropdown input {
    padding: 0 20px;
    width: 450px;
    height: 30px;
    border: none;
}

.show {
    display: block;
}