.list {
  width: 1200px;
  margin: 50px auto;
  display: grid;
  grid-template: 1fr / repeat(3, 250px);
  justify-content: center;
  gap: 10px;
}

.button {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 50px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}